/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

header {
  display: inline;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}
.notary-introduction {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;

}

.notary-info {
  width: 60%;
}

.notary-image {
  width: 40%;
}

.services {
  width: 20%;
  display: grid;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.service {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}


.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #960000;
  border-bottom: 1px solid #000000;
}

.contact-tel1,.contact-tel2, .contact-email, .address {
  display: flex;
  justify-content: space-evenly; /* Równomierne rozmieszczenie elementów */
  align-items: center;
  flex: 1; /* Zapewnia, że oba kontenery zajmują równą przestrzeń */
  color: #ffffff;
  margin: 0 10px;
}




.logo {
  text-align: center;
}

.logo img {
  max-height: 60px; /* Adjust as per your logo's dimensions */
}

.header-nav {
  position: sticky;
  top: 0; /* Ustawia 'nav' na samej górze strony */
  background-color: inherit; /* Możesz ustawić konkretny kolor tła, jeśli jest to potrzebne */
  z-index: 1000; /* Upewnia się, że 'nav' pozostaje na wierzchu innych elementów */
  max-width: 1440px;
  margin: 0 auto;
  background-color: #555555;
}

.header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.header-nav ul li {
  margin: 0 15px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.footer-content a {
  color: #ffffff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}


